<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= form_tag ({controller: "sessions", action: "create", method: "post"}) do %>
  <%= label :username, "Username:" %>
  <%= text_field_tag :username %>
  <%= label :password, "Password:" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>
<br>
<%= link_to "Sign up", new_user_path%>
