<h2>Create a New User:</h2>

<%= render 'errors' %>

<br>
  <%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :email %>
  <%= f.email_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.hidden_field :bio, value: "Add bio." %>
  <%= f.submit %>
<% end %>
