<label>Create a New User:</label>

<ul>
<% if @user.errors %>
  <% @user.errors.full_messages.each do |error| %>
  <li> <%= error %> </li>
  <% end %>
<% end %>
</ul>
<br>
  <%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.submit %>
<% end %>
