
<div class="ui form" id="edit-form">
  <%= form_for @post do |f| %>
    <div class="two fields">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <%= f.label "Upload photo" %>
        <%= f.file_field :avatar %>
      </div>
      <div class="field">
        <%= f.label "Photo URL" %>
        <%= f.text_field :photo_url %>
      </div>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="ui red big button">
    <%= f.submit text, id: "update-button" %> </div>
  <% end %>
</div>
