<label>Create a New Post:</label>

<ul>
<% if @post.errors %>
  <% @post.errors.full_messages.each do |error| %>
  <li> <%= error %> </li>
  <% end %>
<% end %>
</ul>


<%= form_for @post do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>
