
<h1><%= @post.title %> </h1>
<h3><%= @post.content %></h3>
<p>Posted:<%= @post.format_time %></p>
<div><img src="<%= @post.photo_url %>" alt="photo"></div>

<ul>
<% @post.comments.each do |comment| %>
  <li><%= comment.user.name + ": " + comment.content %></li>
<% end %>
</ul>
<br>
<% if like = @post.likes.find {|like| like.user == current_user} %>
  <%= form_tag like_path(like), method: :delete do %>
  <%=  submit_tag "Unlike" %>
  <% end %>
<% else %>
  <%= form_for @post.likes.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.submit "Like" %>
  <% end %>
<% end %>

<% if list = @post.lists.find {|list| list.user == current_user} %>
  <%= form_tag list_path(list), method: :delete do %>
  <%=  submit_tag "Unsave" %>
  <% end %>
<% else %>
  <%= form_for @post.lists.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.submit "Save" %>
  <% end %>
<% end %>

<br>
<%= form_for @post.comments.build do |f| %>
  <%= f.label :content, "Comment:" %><br>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id %><br>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "Edit this post", edit_post_path(@post) %><br>
<%= link_to "Delete this post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>


<div id='map' style='width: 400px; height: 300px;'></div>
<div>


<script>
  mapboxgl.accessToken = ENV['#{TOKEN}']
  if (!mapboxgl.supported()) {
    alert('Your browser does not support Mapbox GL');
} else {
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [<%= @post.longitude %>, <%= @post.latitude %>],
        zoom: 15
    });
}
</script>
</div>
