<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body id="body-page">

<!-- Title & Content -->
<h1><%= @post.title %> </h1>
<h4>by <%= @post.user.name %></h4>
<h3><%= @post.content %></h3>

<!-- Date posted -->
<p>Posted:<%= @post.format_time %></p>

<!-- Image -->
<% if @post.avatar.attached? %>
  <div><%= image_tag @post.avatar%></div>
<% elsif @post.photo_url %>
    <div><img src="<%= @post.photo_url %>" alt="photo"></div>
<% end %>

<!-- Comments -->
<ul>
<% @post.comments.each do |comment| %>
  <li><%= comment.user.name + ": " + comment.content %></li>
<% end %>
</ul>
<br>

<!-- Like button -->
<% if @post.user != current_user %>
  <% like = @post.likes.find {|like| like.user == current_user} %>
  <% if like %>
    <%= form_tag like_path(like), method: :delete do %>
    <%=  submit_tag "Unlike" %>
    <% end %>
  <% else %>
    <%= form_for @post.likes.build do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.submit "Like" %>
    <% end %>
  <% end %>

<!-- Save button  -->
  <% list = @post.lists.find {|list| list.user == current_user} %>
  <% if list %>
    <%= form_tag list_path(list), method: :delete do %>
    <%=  submit_tag "Unsave" %>
    <% end %>
  <% else %>
    <%= form_for @post.lists.build do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.submit "Save" %>
    <% end %>
  <% end %>
<% end %>
<br>

<!-- Comments form -->
<%= form_for @post.comments.build do |f| %>
  <%= f.label :content, "Comment:" %><br>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id %><br>
  <%= f.submit %>
<% end %>
<br>

<!-- Links to edit and delete -->
<% if @post.user == current_user %>
  <%= link_to "Edit this post", edit_post_path(@post) %><br>
  <%= link_to "Delete this post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<!-- Map -->

<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<style>
    body { margin:10px; padding:0; }
    #map { position:static; top:0; bottom:0; width:100%; }
</style>

<div id='map' style='width: 400px; height: 300px;'></div>
<div>
  <script>
    mapboxgl.accessToken = '<%= ENV['API_TOKEN'] %>'
    if (!mapboxgl.supported()) {
      alert('Your browser does not support Mapbox GL');
    } else {
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v9',
          center: [<%= @post.longitude %>, <%= @post.latitude %>],
          zoom: 15
      });
    }
  </script>
</div>

</body>
</html>
